@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  letter-spacing: 1.2px;
  font-size: 10px;
  --header: black;
  --header-text: white;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--header); 
  color: var(--header-text);
  width: 100%;
}

h1 {
  font-size: 3rem;
}

button {
  border-radius: 50%;
  border-style: none;
  padding: -5rem;
  background-color: white;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  color: var(--primary-light);
  font-size: 2rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content p { 
    font-weight: 300;
    font-size: 2rem;
    padding: 1rem;
}

.score-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.score {
  font-size: 8rem;
  padding: 3rem;
}

.options {
  width: 150px;
  height: auto;
  padding: 2rem;
}
