@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

* {
  margin: 0;
  padding: 0;
  font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1.2px;
  font-size: 10px;
  --header: black;
  --header-text: white;
  --computer-score: #ff0000;
  --player-score: #0000ff;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--header);
  color: var(--header-text);
  width: 100%-2rem;
}



h1 {
  font-size: 3rem;
}

button {
  border-radius: 50%;
  border-style: none;
  padding: -5rem;
  background-color: white;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%-1rem;
  padding: 1rem;
  color: var(--primary-light);
  font-size: 2rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content p {
  font-weight: 300;
  font-size: 2rem;
  padding: 1rem;
}

.score-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.score-container-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.score {
  font-size: 6rem;
}

.options {
  width: 150px;
  height: auto;
  padding: 2rem;
}

.computer-score {
  color: var(--computer-score);
}

.computer-score:first-child,
.player-score:first-child {
  font-weight: 400;
  font-size: 2rem;
}

.player-score {
  color: var(--player-score);
}

.user-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* CSS for the computer image below */

.enemy {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -3rem;
  left: 0;
}

#computer {
  width: 32rem;
  height: auto;
  position: relative;
}

#computer-screen {
  width: 12rem;
  height: auto;
  position: absolute;
  padding: 7rem 9rem 10rem 5rem;
}
